USE [ORANGE1]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HeaderName] [nvarchar](250) NULL,
	[TitleName] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[DetailText] [nvarchar](500) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutUsDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUsDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[ItemName] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressBooks]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserNo] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[EngName] [nvarchar](50) NULL,
	[GenderCode] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[CompName] [nvarchar](250) NULL,
	[CompID] [nvarchar](50) NULL,
	[DeptName] [nvarchar](50) NULL,
	[TitleName] [nvarchar](50) NULL,
	[CompTel] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](250) NULL,
	[LineID] [nvarchar](50) NULL,
	[FacebookID] [nvarchar](50) NULL,
	[TwitterID] [nvarchar](50) NULL,
	[InstagramID] [nvarchar](50) NULL,
	[LinkedInID] [nvarchar](50) NULL,
	[Remark] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsDebug] [bit] NOT NULL,
	[AppName] [nvarchar](50) NULL,
	[AdminName] [nvarchar](50) NULL,
	[ShopName] [nvarchar](50) NULL,
	[AppVersion] [nvarchar](50) NULL,
	[EncryptionMode] [bit] NOT NULL,
	[PowerBy] [nvarchar](50) NULL,
	[LanguageNo] [nvarchar](50) NULL,
	[GoogleMapKey] [nvarchar](50) NULL,
	[MailSenderName] [nvarchar](50) NULL,
	[MailSenderEmail] [nvarchar](50) NULL,
	[MailReceiverName] [nvarchar](50) NULL,
	[MailReceiverEmail] [nvarchar](50) NULL,
	[MailAppPassword] [nvarchar](50) NULL,
	[MailHostUrl] [nvarchar](250) NULL,
	[MailHostPort] [int] NOT NULL,
	[MailUseSSL] [bit] NOT NULL,
	[WebSiteUrl] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendars]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TargetCode] [nvarchar](50) NULL,
	[TargetNo] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[SubjectName] [nvarchar](50) NULL,
	[StartDate] [datetime] NOT NULL,
	[StartTime] [nvarchar](50) NULL,
	[EndDate] [datetime] NOT NULL,
	[EndTime] [nvarchar](50) NULL,
	[ColorName] [nvarchar](50) NULL,
	[IsFullday] [bit] NOT NULL,
	[PlaceName] [nvarchar](250) NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[PlaceAddress] [nvarchar](250) NULL,
	[RoomNo] [nvarchar](50) NULL,
	[ResourceText] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carousels]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carousels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[HeaderName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[MoreUrl] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LotNo] [nvarchar](50) NULL,
	[MemberNo] [nvarchar](50) NULL,
	[VendorNo] [nvarchar](50) NULL,
	[CategoryNo] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](250) NULL,
	[ProdNo] [nvarchar](50) NULL,
	[ProdName] [nvarchar](250) NULL,
	[ProdSpec] [nvarchar](250) NULL,
	[OrderQty] [int] NOT NULL,
	[OrderPrice] [int] NOT NULL,
	[OrderAmount] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsCategory] [bit] NOT NULL,
	[ParentNo] [nvarchar](50) NULL,
	[CategoryNo] [nvarchar](50) NULL,
	[SortNo] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](50) NULL,
	[RouteName] [nvarchar](500) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityAreas]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityAreas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[AreaName] [nvarchar](50) NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](18, 15) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[CityName] [nvarchar](50) NULL,
	[Latitude] [decimal](18, 15) NULL,
	[Longitude] [decimal](18, 15) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[ClientName] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[WebsiteUrl] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CloseDates]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CloseDates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodeBases]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[BaseNo] [nvarchar](50) NULL,
	[BaseName] [nvarchar](50) NULL,
	[DefaultValue] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodeDatas]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[BaseNo] [nvarchar](50) NULL,
	[ParentNo] [nvarchar](50) NULL,
	[SortNo] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[CodeName] [nvarchar](50) NULL,
	[CodeValue] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[CompNo] [nvarchar](50) NULL,
	[CompName] [nvarchar](250) NULL,
	[ShortName] [nvarchar](50) NULL,
	[EngName] [nvarchar](250) NULL,
	[EngShortName] [nvarchar](50) NULL,
	[RegisterDate] [datetime] NOT NULL,
	[BossName] [nvarchar](50) NULL,
	[ContactName] [nvarchar](50) NULL,
	[CompTel] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[CompFax] [nvarchar](50) NULL,
	[CompID] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[CompAddress] [nvarchar](250) NULL,
	[CompUrl] [nvarchar](250) NULL,
	[TwitterUrl] [nvarchar](250) NULL,
	[FacebookUrl] [nvarchar](250) NULL,
	[InstagramUrl] [nvarchar](250) NULL,
	[SkypeUrl] [nvarchar](250) NULL,
	[LinkedinUrl] [nvarchar](250) NULL,
	[Latitude] [decimal](20, 15) NOT NULL,
	[Longitude] [decimal](20, 15) NOT NULL,
	[AboutusText] [nvarchar](max) NULL,
	[SupportText] [nvarchar](max) NULL,
	[ReturnText] [nvarchar](max) NULL,
	[ShippingText] [nvarchar](max) NULL,
	[PaymentText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptNo] [nvarchar](50) NULL,
	[DeptName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsValid] [bit] NOT NULL,
	[EmpNo] [nvarchar](50) NULL,
	[EmpName] [nvarchar](50) NULL,
	[GenderCode] [nvarchar](50) NULL,
	[DeptNo] [nvarchar](50) NULL,
	[TitleNo] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[OnboardDate] [date] NULL,
	[LeaveDate] [date] NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtensionTables]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtensionTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[ExtName] [nvarchar](50) NULL,
	[ExtNo] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Featureds]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Featureds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[ProdNo] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormDetail]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[FormCode] [nvarchar](50) NULL,
	[FormNo] [nvarchar](50) NULL,
	[GuidNo] [nvarchar](50) NULL,
	[TargetNo] [nvarchar](50) NULL,
	[TargetName] [nvarchar](50) NULL,
	[DeptNo] [nvarchar](50) NULL,
	[DeptName] [nvarchar](50) NULL,
	[TitleNo] [nvarchar](50) NULL,
	[TitleName] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[StartTime] [datetime] NULL,
	[EndDate] [date] NULL,
	[EndTime] [datetime] NULL,
	[CodeNo] [nvarchar](50) NULL,
	[CodeName] [nvarchar](50) NULL,
	[Qty1] [int] NOT NULL,
	[Qty2] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormMaster]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormCode] [nvarchar](50) NULL,
	[UserNo] [nvarchar](50) NULL,
	[StatusCode] [nvarchar](50) NULL,
	[FormNo] [nvarchar](50) NULL,
	[FormDate] [date] NULL,
	[FormTime] [datetime] NULL,
	[TargetNo] [nvarchar](50) NULL,
	[TargetName] [nvarchar](50) NULL,
	[DeptNo] [nvarchar](50) NULL,
	[DeptName] [nvarchar](50) NULL,
	[TitleNo] [nvarchar](50) NULL,
	[TitleName] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[StartTime] [datetime] NULL,
	[EndDate] [date] NULL,
	[EndTime] [datetime] NULL,
	[CodeNo] [nvarchar](50) NULL,
	[CodeName] [nvarchar](50) NULL,
	[Qty1] [int] NOT NULL,
	[Qty2] [int] NOT NULL,
	[ApproveTime] [datetime] NULL,
	[RejectTime] [datetime] NULL,
	[SourceNo] [nvarchar](50) NULL,
	[ApproveNo] [nvarchar](50) NULL,
	[RejectNo] [nvarchar](50) NULL,
	[NextNo] [nvarchar](50) NULL,
	[GuidNo] [nvarchar](50) NULL,
	[NotifyKey] [nvarchar](50) NULL,
	[FormDescribe] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumBoards]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumBoards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[BoardNo] [nvarchar](50) NULL,
	[BoardName] [nvarchar](250) NULL,
	[IconName] [nvarchar](50) NULL,
	[DescriptionText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL,
	[GuidNo] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forums]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentGuid] [nvarchar](50) NULL,
	[ReplyGuid] [nvarchar](50) NULL,
	[BoardNo] [nvarchar](50) NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[SubjectDate] [datetime] NOT NULL,
	[UserNo] [nvarchar](50) NULL,
	[SubjectName] [nvarchar](250) NULL,
	[SubjectContent] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL,
	[GuidNo] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LangNo] [nvarchar](50) NULL,
	[LangName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [date] NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[UserNo] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[TargetNo] [nvarchar](50) NULL,
	[LogNo] [nvarchar](50) NULL,
	[LogQty] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapPositions]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapPositions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TargetCode] [nvarchar](50) NULL,
	[TargetNo] [nvarchar](50) NULL,
	[TitleName] [nvarchar](50) NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](250) NULL,
	[Latitude] [decimal](18, 15) NOT NULL,
	[Longitude] [decimal](18, 15) NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[SenderNo] [nvarchar](50) NULL,
	[ReceiverNo] [nvarchar](50) NULL,
	[SendDate] [date] NOT NULL,
	[SendTime] [date] NOT NULL,
	[HeaderText] [nvarchar](250) NULL,
	[MessageText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsWorkflow] [bit] NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[SortNo] [nvarchar](50) NULL,
	[ModuleNo] [nvarchar](50) NULL,
	[ModuleName] [nvarchar](50) NULL,
	[IconName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[PublishDate] [datetime] NOT NULL,
	[HeaderName] [nvarchar](50) NULL,
	[DetailText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsLetter]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsLetter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](50) NULL,
	[SubscribeDate] [datetime] NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[SourceNo] [nvarchar](50) NULL,
	[SenderNo] [nvarchar](50) NULL,
	[ReceiverNo] [nvarchar](50) NULL,
	[SendDate] [date] NOT NULL,
	[SendTime] [date] NOT NULL,
	[HeaderText] [nvarchar](250) NULL,
	[MessageText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentNo] [nvarchar](50) NULL,
	[VendorNo] [nvarchar](50) NULL,
	[CategoryNo] [nvarchar](50) NULL,
	[ProdNo] [nvarchar](50) NULL,
	[ProdName] [nvarchar](250) NULL,
	[ProdSpec] [nvarchar](250) NULL,
	[OrderPrice] [int] NOT NULL,
	[OrderQty] [int] NOT NULL,
	[OrderAmount] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SheetNo] [nvarchar](50) NULL,
	[SheetDate] [datetime] NOT NULL,
	[StatusCode] [nvarchar](50) NULL,
	[IsClosed] [bit] NOT NULL,
	[IsValid] [bit] NOT NULL,
	[CustNo] [nvarchar](50) NULL,
	[CustName] [nvarchar](50) NULL,
	[PaymentNo] [nvarchar](50) NULL,
	[ShippingNo] [nvarchar](50) NULL,
	[ReceiverName] [nvarchar](50) NULL,
	[ReceiverEmail] [nvarchar](50) NULL,
	[ReceiverAddress] [nvarchar](250) NULL,
	[OrderAmount] [int] NOT NULL,
	[TaxAmount] [int] NOT NULL,
	[TotalAmount] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL,
	[GuidNo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersStatus]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsPayed] [bit] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[StatusNo] [nvarchar](50) NULL,
	[StatusName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentNo] [nvarchar](50) NULL,
	[PaymentName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[FolderName] [nvarchar](50) NULL,
	[PhotoName] [nvarchar](250) NULL,
	[PriceName] [nvarchar](250) NULL,
	[SaleDate] [date] NOT NULL,
	[DetailText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PricingNo] [nvarchar](50) NULL,
	[IsSupport] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[ItemName] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pricings]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsAdvanced] [bit] NOT NULL,
	[IsRecommend] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[PricingNo] [nvarchar](50) NULL,
	[PricingName] [nvarchar](50) NULL,
	[ProdPrice] [int] NOT NULL,
	[CycleName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductFeatureds]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFeatureds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdNo] [nvarchar](50) NULL,
	[SortNo] [nvarchar](50) NULL,
	[FeaturedName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInventorys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInventorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdNo] [nvarchar](50) NULL,
	[PropertyNo] [nvarchar](50) NULL,
	[IsInventory] [bit] NOT NULL,
	[InventoryQty] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPropertys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPropertys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsSelect] [bit] NOT NULL,
	[ProdNo] [nvarchar](50) NULL,
	[PropertyNo] [nvarchar](50) NULL,
	[PropertyValue] [nvarchar](500) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRelations]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdNo] [nvarchar](50) NULL,
	[CategoryNo] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsInventory] [bit] NOT NULL,
	[IsShowPhoto] [bit] NOT NULL,
	[ProdNo] [nvarchar](50) NULL,
	[ProdName] [nvarchar](250) NULL,
	[BrandName] [nvarchar](50) NULL,
	[BrandSeriesName] [nvarchar](50) NULL,
	[BarcodeNo] [nvarchar](50) NULL,
	[VendorNo] [nvarchar](50) NULL,
	[CategoryNo] [nvarchar](50) NULL,
	[CostPrice] [int] NOT NULL,
	[MarketPrice] [int] NOT NULL,
	[SalePrice] [int] NOT NULL,
	[DiscountPrice] [int] NOT NULL,
	[InventoryQty] [int] NOT NULL,
	[ContentText] [nvarchar](max) NULL,
	[SpecificationText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsPageSize] [bit] NOT NULL,
	[IsSearch] [bit] NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[ModuleNo] [nvarchar](50) NULL,
	[SortNo] [nvarchar](50) NULL,
	[PrgNo] [nvarchar](50) NULL,
	[PrgName] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[AreaName] [nvarchar](50) NULL,
	[ControllerName] [nvarchar](50) NULL,
	[ActionName] [nvarchar](50) NULL,
	[ParmValue] [nvarchar](50) NULL,
	[PageSize] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[ProdNo] [nvarchar](50) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[SalePrice] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyNames]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropName] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propertys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propertys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsSelect] [bit] NOT NULL,
	[PropertyNo] [nvarchar](50) NULL,
	[PropertyName] [nvarchar](50) NULL,
	[PropertyValue] [nvarchar](500) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[RoleName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Securitys]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Securitys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[TargetNo] [nvarchar](50) NULL,
	[ModuleNo] [nvarchar](50) NULL,
	[PrgNo] [nvarchar](50) NULL,
	[IsAdd] [bit] NOT NULL,
	[IsEdit] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsConfirm] [bit] NOT NULL,
	[IsUndo] [bit] NOT NULL,
	[IsInvalid] [bit] NOT NULL,
	[IsUpload] [bit] NOT NULL,
	[IsDownload] [bit] NOT NULL,
	[IsPrint] [bit] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[HeaderName] [nvarchar](250) NULL,
	[DetailName] [nvarchar](250) NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippings]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShippingNo] [nvarchar](50) NULL,
	[ShippingName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SortNo] [nvarchar](50) NULL,
	[TeamNo] [nvarchar](50) NULL,
	[TeamName] [nvarchar](50) NULL,
	[EngName] [nvarchar](50) NULL,
	[GenderCode] [nvarchar](50) NULL,
	[DeptName] [nvarchar](50) NULL,
	[TitleName] [nvarchar](50) NULL,
	[TwitterUrl] [nvarchar](50) NULL,
	[FacebookUrl] [nvarchar](50) NULL,
	[LinkedinUrl] [nvarchar](50) NULL,
	[InstagramUrl] [nvarchar](50) NULL,
	[SkypeUrl] [nvarchar](50) NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[DetailText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Titles]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitleNo] [nvarchar](50) NULL,
	[TitleName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TodoLists]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsFinished] [bit] NOT NULL,
	[UserNo] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[TitleName] [nvarchar](250) NULL,
	[DeadlineDate] [datetime] NOT NULL,
	[Remark] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsValid] [bit] NOT NULL,
	[UserNo] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[RoleNo] [nvarchar](50) NULL,
	[GenderCode] [nvarchar](50) NULL,
	[DeptNo] [nvarchar](50) NULL,
	[TitleNo] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[OnboardDate] [date] NULL,
	[LeaveDate] [date] NULL,
	[ContactEmail] [nvarchar](50) NULL,
	[ContactTel] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](250) NULL,
	[ValidateCode] [nvarchar](50) NULL,
	[NotifyPassword] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacations]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VacYear] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CodeNo] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsClose] [bit] NOT NULL,
	[IsApprove] [bit] NOT NULL,
	[IsReject] [bit] NOT NULL,
	[MasterGuidNo] [nvarchar](50) NULL,
	[RouteGuidNo] [nvarchar](50) NULL,
	[RouteOrder] [nvarchar](50) NULL,
	[RoleNo] [nvarchar](50) NULL,
	[RoleName] [nvarchar](50) NULL,
	[UserNo] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[AgentNo] [nvarchar](50) NULL,
	[AgentName] [nvarchar](50) NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserReadTime] [datetime] NULL,
	[AgentReadTime] [datetime] NULL,
	[SignUserNo] [nvarchar](50) NULL,
	[SignUserName] [nvarchar](50) NULL,
	[SignTime] [datetime] NULL,
	[SignComment] [nvarchar](250) NULL,
	[Remark] [nvarchar](250) NULL,
	[GuidNo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowMasters]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowMasters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsClose] [bit] NOT NULL,
	[IsApprove] [bit] NOT NULL,
	[IsReject] [bit] NOT NULL,
	[FlowGuidNo] [nvarchar](50) NULL,
	[SheetNo] [nvarchar](50) NULL,
	[SheetName] [nvarchar](50) NULL,
	[UserNo] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[DeadlineTime] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[ContentText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL,
	[GuidNo] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowRoles]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[RoleName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowRoleUsers]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowRoleUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[UserNo] [nvarchar](50) NULL,
	[AgentNo] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowRoutes]    Script Date: 2023/6/22 下午 07:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowRoutes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrgNo] [nvarchar](50) NULL,
	[RouteOrder] [nvarchar](50) NULL,
	[RoleNo] [nvarchar](50) NULL,
	[RoleName] [nvarchar](50) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [IsEnabled], [IsDebug], [AppName], [AdminName], [ShopName], [AppVersion], [EncryptionMode], [PowerBy], [LanguageNo], [GoogleMapKey], [MailSenderName], [MailSenderEmail], [MailReceiverName], [MailReceiverEmail], [MailAppPassword], [MailHostUrl], [MailHostPort], [MailUseSSL], [WebSiteUrl], [Remark]) VALUES (1, 1, 1, N'好好用ERP', N'好好用後台管理', N'好好用購物商城', N'1.0', 0, N'DevStudio', N'zh-TW', N'12345', N'網站管理員', N'xxxxxxxxx@gmail.com', N'網站管理員', N'xxxxxxxxx@gmail.com', N'xxxxxxxxx', N'smtp.gmail.com', 587, 1, N'http://localhost:8888', N'')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Carousels] ON 

INSERT [dbo].[Carousels] ([Id], [IsActive], [SortNo], [HeaderName], [Description], [ImageUrl], [MoreUrl], [Remark]) VALUES (1, 1, N'01', N'歡迎來到我們公司', N'嗨！歡迎來到我們公司！ 我們是一間「以人為本」、帶有真實溫度、採用人性化管理的公司，我們重視團隊，並給予每一位同仁尊重與支持。 你的自由感有多大，來自於你對團隊的擁有感有多大。', N'Carousel1.jpg', N'#', N'')
INSERT [dbo].[Carousels] ([Id], [IsActive], [SortNo], [HeaderName], [Description], [ImageUrl], [MoreUrl], [Remark]) VALUES (2, 0, N'02', N'溫馨的工作環境', N'我們公司在改善員工的工作環境上展現積極的態度，藉此提升職場的工作效率。為了確保這一點，我們公司提供免費的休閒活動、餐廳和無障礙設施。也為了員工身體健康我們也保持清新的空氣和提供過濾後的飲用水給員工飲用。', N'Carousel2.jpg', N'#', N'')
INSERT [dbo].[Carousels] ([Id], [IsActive], [SortNo], [HeaderName], [Description], [ImageUrl], [MoreUrl], [Remark]) VALUES (3, 0, N'03', N'專業的團隊合作', N'如獅群般的團隊合作. 團隊是由員工和管理層組成的一個共同體，該共同體合理利用每一個成員的知識和技能協同工作，解決問題，達到共同的目標。 我們是一支專業的團隊。我們的成員擁有多年的系統整合專業技術背景，來自國內知名公司的骨幹。', N'Carousel3.jpg', N'#', N'')
SET IDENTITY_INSERT [dbo].[Carousels] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([Id], [IsEnabled], [IsCategory], [ParentNo], [CategoryNo], [SortNo], [CategoryName], [RouteName], [Remark]) VALUES (1, 1, 1, N'', N'26A61931BFEF49EEAB6A05ABA1F2B23B', N'01', N'男裝', N'', N'')
INSERT [dbo].[Categorys] ([Id], [IsEnabled], [IsCategory], [ParentNo], [CategoryNo], [SortNo], [CategoryName], [RouteName], [Remark]) VALUES (2, 1, 1, N'', N'8AD750E920EE425DB8A45520822B68FC', N'02', N'女裝', N'', N'')
INSERT [dbo].[Categorys] ([Id], [IsEnabled], [IsCategory], [ParentNo], [CategoryNo], [SortNo], [CategoryName], [RouteName], [Remark]) VALUES (3, 1, 1, N'26A61931BFEF49EEAB6A05ABA1F2B23B', N'2193130D2E314175BAB84F2CFC45D166', N'01', N'短袖T恤', N'男裝', N'')
SET IDENTITY_INSERT [dbo].[Categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[CityAreas] ON 

INSERT [dbo].[CityAreas] ([Id], [CityName], [AreaName], [Latitude], [Longitude], [Remark]) VALUES (1, N'宜蘭縣', N'三星鄉', CAST(121.664271400000000 AS Decimal(18, 15)), CAST(24.667719720000000 AS Decimal(18, 15)), N'宜蘭縣三星鄉')
INSERT [dbo].[CityAreas] ([Id], [CityName], [AreaName], [Latitude], [Longitude], [Remark]) VALUES (2, N'宜蘭縣', N'大同鄉', CAST(121.504036900000000 AS Decimal(18, 15)), CAST(24.551520820000000 AS Decimal(18, 15)), N'宜蘭縣大同鄉')
INSERT [dbo].[CityAreas] ([Id], [CityName], [AreaName], [Latitude], [Longitude], [Remark]) VALUES (3, N'宜蘭縣', N'五結鄉', CAST(121.805834200000000 AS Decimal(18, 15)), CAST(24.688873430000000 AS Decimal(18, 15)), N'宜蘭縣五結鄉')
GO
SET IDENTITY_INSERT [dbo].[CityAreas] OFF
GO
SET IDENTITY_INSERT [dbo].[Citys] ON 

INSERT [dbo].[Citys] ([Id], [SortNo], [CityName], [Latitude], [Longitude], [Remark]) VALUES (1, N'100', N'臺北市', CAST(25.032969873738880 AS Decimal(18, 15)), CAST(121.565416580278850 AS Decimal(18, 15)), N'')
INSERT [dbo].[Citys] ([Id], [SortNo], [CityName], [Latitude], [Longitude], [Remark]) VALUES (2, N'200', N'基隆市', CAST(25.127600097250900 AS Decimal(18, 15)), CAST(121.739182959439290 AS Decimal(18, 15)), N'')
INSERT [dbo].[Citys] ([Id], [SortNo], [CityName], [Latitude], [Longitude], [Remark]) VALUES (3, N'207', N'新北市', CAST(25.016985170720580 AS Decimal(18, 15)), CAST(121.462785210471600 AS Decimal(18, 15)), N'')
SET IDENTITY_INSERT [dbo].[Citys] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [IsEnabled], [SortNo], [ClientName], [ImageUrl], [WebsiteUrl], [Remark]) VALUES (1, 1, N'01', N'My OB', N'myob.png', N'https://www.myob.com/au', N'')
INSERT [dbo].[Clients] ([Id], [IsEnabled], [SortNo], [ClientName], [ImageUrl], [WebsiteUrl], [Remark]) VALUES (2, 1, N'02', N'BELIMO', N'belimo.png', N'https://www.belimo.com/', N'')
INSERT [dbo].[Clients] ([Id], [IsEnabled], [SortNo], [ClientName], [ImageUrl], [WebsiteUrl], [Remark]) VALUES (3, 1, N'03', N'Life Groups', N'lifegroups.png', N'https://www.life.church/lifegroups/', N'')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[CodeBases] ON 

INSERT [dbo].[CodeBases] ([Id], [IsAdmin], [BaseNo], [BaseName], [DefaultValue], [Remark]) VALUES (1, 0, N'AddressBook', N'通訊錄類別', N'Friend', N'')
INSERT [dbo].[CodeBases] ([Id], [IsAdmin], [BaseNo], [BaseName], [DefaultValue], [Remark]) VALUES (2, 0, N'Brand', N'品牌', N'', N'')
INSERT [dbo].[CodeBases] ([Id], [IsAdmin], [BaseNo], [BaseName], [DefaultValue], [Remark]) VALUES (3, 0, N'Calendar', N'行事曆類別', N'Public', N'')
SET IDENTITY_INSERT [dbo].[CodeBases] OFF
GO
SET IDENTITY_INSERT [dbo].[CodeDatas] ON 

INSERT [dbo].[CodeDatas] ([Id], [IsEnabled], [BaseNo], [ParentNo], [SortNo], [CodeNo], [CodeName], [CodeValue], [Remark]) VALUES (1, 1, N'AddressBook', N'', N'01', N'Friend', N'朋友', N'', N'')
INSERT [dbo].[CodeDatas] ([Id], [IsEnabled], [BaseNo], [ParentNo], [SortNo], [CodeNo], [CodeName], [CodeValue], [Remark]) VALUES (2, 1, N'AddressBook', N'', N'02', N'Family', N'家庭', N'', N'')
INSERT [dbo].[CodeDatas] ([Id], [IsEnabled], [BaseNo], [ParentNo], [SortNo], [CodeNo], [CodeName], [CodeValue], [Remark]) VALUES (3, 1, N'AddressBook', N'', N'03', N'Colleague', N'同事', N'', N'')
SET IDENTITY_INSERT [dbo].[CodeDatas] OFF
GO
SET IDENTITY_INSERT [dbo].[Companys] ON 

SET IDENTITY_INSERT [dbo].[Companys] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [DeptNo], [DeptName], [Remark]) VALUES (1, N'D001', N'總理室', N'')
INSERT [dbo].[Departments] ([Id], [DeptNo], [DeptName], [Remark]) VALUES (2, N'D002', N'管理部', N'')
INSERT [dbo].[Departments] ([Id], [DeptNo], [DeptName], [Remark]) VALUES (3, N'D003', N'人事部', N'')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumBoards] ON 

INSERT [dbo].[ForumBoards] ([Id], [IsEnabled], [SortNo], [BoardNo], [BoardName], [IconName], [DescriptionText], [Remark], [GuidNo]) VALUES (1, 1, N'01', N'Course', N'課程內容討論區', N'Course', N'這是有關課程內容討論區', N'', N'7AA4C85D-1D45-47FD-9F03-FFB9E692560A')
INSERT [dbo].[ForumBoards] ([Id], [IsEnabled], [SortNo], [BoardNo], [BoardName], [IconName], [DescriptionText], [Remark], [GuidNo]) VALUES (2, 1, N'02', N'DataBase', N'資料庫討論區', N'DataBase', N'這是有關資料庫討論區', N'', N'4EDC5176-0B44-4514-94E6-0924745B9E33')
INSERT [dbo].[ForumBoards] ([Id], [IsEnabled], [SortNo], [BoardNo], [BoardName], [IconName], [DescriptionText], [Remark], [GuidNo]) VALUES (3, 1, N'03', N'DevExpress', N'DevExpress', N'DevExpress', N'這是有關 DevExpress 討論區', N'', N'23EF8971-C2C8-430D-AF00-9364DD0112E0')
SET IDENTITY_INSERT [dbo].[ForumBoards] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [LangNo], [LangName], [Remark]) VALUES (2, N'en-US', N'English', N'')
INSERT [dbo].[Languages] ([Id], [LangNo], [LangName], [Remark]) VALUES (1, N'zh-TW', N'繁體中文', N'')
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([Id], [IsEnabled], [IsWorkflow], [RoleNo], [SortNo], [ModuleNo], [ModuleName], [IconName], [Remark]) VALUES (1, 1, 0, N'Mis', N'01', N'MBAS', N'基本資料', N'fas fa-book', N'')
INSERT [dbo].[Modules] ([Id], [IsEnabled], [IsWorkflow], [RoleNo], [SortNo], [ModuleNo], [ModuleName], [IconName], [Remark]) VALUES (2, 1, 0, N'Mis', N'02', N'MUSR', N'帳號管理', N'fas fa-user', N'')
INSERT [dbo].[Modules] ([Id], [IsEnabled], [IsWorkflow], [RoleNo], [SortNo], [ModuleNo], [ModuleName], [IconName], [Remark]) VALUES (3, 1, 0, N'Mis', N'03', N'MSEC', N'權限管理', N'fas fa-shield-alt', N'')
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersStatus] ON 

INSERT [dbo].[OrdersStatus] ([Id], [IsPayed], [IsClosed], [StatusNo], [StatusName], [Remark]) VALUES (9, 0, 1, N'CC', N'已取消', N'')
INSERT [dbo].[OrdersStatus] ([Id], [IsPayed], [IsClosed], [StatusNo], [StatusName], [Remark]) VALUES (2, 0, 0, N'NP', N'已下單未付款', N'')
INSERT [dbo].[OrdersStatus] ([Id], [IsPayed], [IsClosed], [StatusNo], [StatusName], [Remark]) VALUES (3, 1, 0, N'NS', N'已付款未出貨', N'')
SET IDENTITY_INSERT [dbo].[OrdersStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [PaymentNo], [PaymentName], [Remark]) VALUES (1, N'ATM', N'ATM', N'')
INSERT [dbo].[Payments] ([Id], [PaymentNo], [PaymentName], [Remark]) VALUES (2, N'Card', N'信用卡', N'')
INSERT [dbo].[Payments] ([Id], [PaymentNo], [PaymentName], [Remark]) VALUES (3, N'Cash', N'貨到付款', N'')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([Id], [CodeNo], [FolderName], [PhotoName], [PriceName], [SaleDate], [DetailText], [Remark]) VALUES (2, N'Cloth', N'Coat', N'外套', N'1000-3000元', CAST(N'2000-01-01' AS Date), N'外套，又稱為外衣，是穿在最外面的服裝。外套的體積一般比較大，長衣袖，在穿着時可覆蓋上身的其他衣服。
外套前端有鈕釦或者拉鍊以便穿着，外套一般用作保暖或抵擋雨水的用途。', N'')
INSERT [dbo].[Photos] ([Id], [CodeNo], [FolderName], [PhotoName], [PriceName], [SaleDate], [DetailText], [Remark]) VALUES (5, N'Cloth', N'Dress', N'洋裝', N'3000-15000元', CAST(N'2000-01-01' AS Date), N'洋裝，意思是西式服飾，多指女子服裝而言，多適用於正式場合穿著。每次在出席需要好好打扮的活動之前，總會讓人煩惱到底該穿什麼才不會尷尬又能展現時髦品味。其實在婚禮、聚餐、派對等這種有點正式又可以盛裝打扮的特殊場合中，「洋裝」就是那個能輕鬆解決問題的穿搭選擇，無論是夢幻可愛的甜美感、個性十足的帥氣造型，或簡約俐落的高質感風格，都能以一件洋裝簡單搞定。', N'')
INSERT [dbo].[Photos] ([Id], [CodeNo], [FolderName], [PhotoName], [PriceName], [SaleDate], [DetailText], [Remark]) VALUES (4, N'Cloth', N'Jacket', N'夾克', N'2000-5000元', CAST(N'2000-01-01' AS Date), N'夾克（Jackets，又名Outdoor Jackets），音譯為夾克，户外運動必備裝備之一。
夾克之所以能成為所有户外愛好者的首選外衣，是由其全天候的功能決定的。夾克並不神秘，就是夾克衫，但由於這種功能性服飾從國外傳到中國時，國人為了和普通衣服區別開來，就從其“意譯”上入手，叫做“夾克”。
夾克最早用於在登高海拔雪山時離頂峯還有2~3小時路程的最後衝鋒，這時會脱去羽絨服，卸下大揹包，只穿一件較輕便的衣服輕裝前進，這就是“夾克”中文名字的由來。', N'')
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[PricingDetails] ON 

INSERT [dbo].[PricingDetails] ([Id], [PricingNo], [IsSupport], [SortNo], [ItemName], [Remark]) VALUES (7, N'Business', 1, N'01', N'雲端支付平台', N'')
INSERT [dbo].[PricingDetails] ([Id], [PricingNo], [IsSupport], [SortNo], [ItemName], [Remark]) VALUES (8, N'Business', 1, N'02', N'雲端行動刷卡', N'')
INSERT [dbo].[PricingDetails] ([Id], [PricingNo], [IsSupport], [SortNo], [ItemName], [Remark]) VALUES (9, N'Business', 1, N'03', N'雲端智慧終端', N'')
SET IDENTITY_INSERT [dbo].[PricingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Pricings] ON 

INSERT [dbo].[Pricings] ([Id], [IsEnabled], [IsAdvanced], [IsRecommend], [SortNo], [PricingNo], [PricingName], [ProdPrice], [CycleName], [Remark]) VALUES (1, 1, 0, 0, N'01', N'Free', N'免費版', 0, N'月', N'')
INSERT [dbo].[Pricings] ([Id], [IsEnabled], [IsAdvanced], [IsRecommend], [SortNo], [PricingNo], [PricingName], [ProdPrice], [CycleName], [Remark]) VALUES (2, 1, 0, 1, N'02', N'Business', N'商業版', 500, N'月', N'')
INSERT [dbo].[Pricings] ([Id], [IsEnabled], [IsAdvanced], [IsRecommend], [SortNo], [PricingNo], [PricingName], [ProdPrice], [CycleName], [Remark]) VALUES (3, 1, 0, 0, N'03', N'Developer', N'開發版', 800, N'月', N'')
SET IDENTITY_INSERT [dbo].[Pricings] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductFeatureds] ON 

INSERT [dbo].[ProductFeatureds] ([Id], [ProdNo], [SortNo], [FeaturedName], [Remark]) VALUES (1, N'11077494', N'01', N'地藏潮流設計短TEE', N'')
INSERT [dbo].[ProductFeatureds] ([Id], [ProdNo], [SortNo], [FeaturedName], [Remark]) VALUES (2, N'11077494', N'02', N'以地藏機器人X光透視為主設計', N'')
INSERT [dbo].[ProductFeatureds] ([Id], [ProdNo], [SortNo], [FeaturedName], [Remark]) VALUES (3, N'11077494', N'03', N'特殊印花刷色，率性獨特又有個性', N'')
SET IDENTITY_INSERT [dbo].[ProductFeatureds] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPropertys] ON 

INSERT [dbo].[ProductPropertys] ([Id], [IsSelect], [ProdNo], [PropertyNo], [PropertyValue], [Remark]) VALUES (1, 1, N'11051174', N'Color', N'白', N'')
INSERT [dbo].[ProductPropertys] ([Id], [IsSelect], [ProdNo], [PropertyNo], [PropertyValue], [Remark]) VALUES (2, 0, N'11051174', N'Material', N'棉布,聚脂纖維', N'')
INSERT [dbo].[ProductPropertys] ([Id], [IsSelect], [ProdNo], [PropertyNo], [PropertyValue], [Remark]) VALUES (3, 1, N'11051174', N'Size', N'S,M,L,XL,2XL', N'')
SET IDENTITY_INSERT [dbo].[ProductPropertys] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [IsEnabled], [IsInventory], [IsShowPhoto], [ProdNo], [ProdName], [BrandName], [BrandSeriesName], [BarcodeNo], [VendorNo], [CategoryNo], [CostPrice], [MarketPrice], [SalePrice], [DiscountPrice], [InventoryQty], [ContentText], [SpecificationText], [Remark]) VALUES (1, 1, 0, 1, N'11051174', N'短袖上衣 休閒 AS M NRG ACG SS TEE PATCH 男款 白(DX9444100)', N'NIKE 耐吉', N'', N'11051174', N'', N'2193130D2E314175BAB84F2CFC45D166', 1000, 1580, 1394, 1324, 0, N'', N'品牌名稱：NIKE
商品尺寸：S~XXL
產品顏色：白


材 質：(依原廠標示)
產 地：依原廠標示
包 裝：原廠', N'')
INSERT [dbo].[Products] ([Id], [IsEnabled], [IsInventory], [IsShowPhoto], [ProdNo], [ProdName], [BrandName], [BrandSeriesName], [BarcodeNo], [VendorNo], [CategoryNo], [CostPrice], [MarketPrice], [SalePrice], [DiscountPrice], [InventoryQty], [ContentText], [SpecificationText], [Remark]) VALUES (2, 1, 0, 1, N'11077494', N'男裝 機器人機械 短袖 上衣', N'BLUE WAY', N'地藏小王', N'11077494', N'', N'2193130D2E314175BAB84F2CFC45D166', 500, 0, 1680, 790, 0, N'-商品問題，歡迎使用問問詢問', N'', N'')
INSERT [dbo].[Products] ([Id], [IsEnabled], [IsInventory], [IsShowPhoto], [ProdNo], [ProdName], [BrandName], [BrandSeriesName], [BarcodeNo], [VendorNo], [CategoryNo], [CostPrice], [MarketPrice], [SalePrice], [DiscountPrice], [InventoryQty], [ContentText], [SpecificationText], [Remark]) VALUES (3, 1, 0, 1, N'11078443', N'M All Szn G T 男 短袖上衣 T恤 運動 休閒 寬鬆 純棉 舒適 白(IC9821)', N'adidas 愛迪達', N'', N'11078443', N'', N'2193130D2E314175BAB84F2CFC45D166', 800, 0, 1090, 1035, 0, N'', N'型號: IC9821
品名: Adidas M All Szn G T
配色: 白


寬鬆版型
羅紋圓領
100% 純棉', N'')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Programs] ON 

INSERT [dbo].[Programs] ([Id], [IsEnabled], [IsPageSize], [IsSearch], [RoleNo], [ModuleNo], [SortNo], [PrgNo], [PrgName], [CodeNo], [AreaName], [ControllerName], [ActionName], [ParmValue], [PageSize], [Remark]) VALUES (1, 1, 1, 1, N'Mis', N'MBAS', N'01', N'MBASP001', N'角色基本資料維護', N'P', N'Mis', N'MBASP001_Role', N'Index', N'', 10, N'')
INSERT [dbo].[Programs] ([Id], [IsEnabled], [IsPageSize], [IsSearch], [RoleNo], [ModuleNo], [SortNo], [PrgNo], [PrgName], [CodeNo], [AreaName], [ControllerName], [ActionName], [ParmValue], [PageSize], [Remark]) VALUES (2, 1, 1, 1, N'Mis', N'MBAS', N'02', N'MBASP002', N'程式類別資料維護', N'P', N'Mis', N'MBASP002_ProgramType', N'Index', N'', 10, N'')
INSERT [dbo].[Programs] ([Id], [IsEnabled], [IsPageSize], [IsSearch], [RoleNo], [ModuleNo], [SortNo], [PrgNo], [PrgName], [CodeNo], [AreaName], [ControllerName], [ActionName], [ParmValue], [PageSize], [Remark]) VALUES (3, 1, 1, 1, N'Mis', N'MBAS', N'03', N'MBASP003', N'語言基本資料維護', N'P', N'Mis', N'MBASP003_Language', N'Index', N'', 10, N'')
SET IDENTITY_INSERT [dbo].[Programs] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyNames] ON 

INSERT [dbo].[PropertyNames] ([Id], [PropName], [DisplayName], [Remark]) VALUES (1, N'AboutusText', N'公司簡介', N'')
INSERT [dbo].[PropertyNames] ([Id], [PropName], [DisplayName], [Remark]) VALUES (2, N'ActionName', N'動作', N'')
INSERT [dbo].[PropertyNames] ([Id], [PropName], [DisplayName], [Remark]) VALUES (3, N'AppName', N'應用程式名稱', N'')
GO
SET IDENTITY_INSERT [dbo].[PropertyNames] OFF
GO
SET IDENTITY_INSERT [dbo].[Propertys] ON 

INSERT [dbo].[Propertys] ([Id], [IsSelect], [PropertyNo], [PropertyName], [PropertyValue], [Remark]) VALUES (1, 1, N'Color', N'顏色', N'紅,黑,白', N'')
INSERT [dbo].[Propertys] ([Id], [IsSelect], [PropertyNo], [PropertyName], [PropertyValue], [Remark]) VALUES (7, 1, N'Color', N'顏色', N'紅,黑,白', N'')
INSERT [dbo].[Propertys] ([Id], [IsSelect], [PropertyNo], [PropertyName], [PropertyValue], [Remark]) VALUES (2, 0, N'Material', N'材質', N'棉布,聚脂纖維', N'')
SET IDENTITY_INSERT [dbo].[Propertys] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [IsEnabled], [RoleNo], [RoleName], [Remark]) VALUES (5, 0, N'Customer', N'客戶', N'')
INSERT [dbo].[Roles] ([Id], [IsEnabled], [RoleNo], [RoleName], [Remark]) VALUES (6, 1, N'Demo', N'測試', N'')
INSERT [dbo].[Roles] ([Id], [IsEnabled], [RoleNo], [RoleName], [Remark]) VALUES (3, 0, N'Member', N'會員', N'')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [IsEnabled], [SortNo], [HeaderName], [DetailName], [ImageUrl], [Remark]) VALUES (1, 1, N'01', N'雲端支付平台', N'雲端串接、管理各類型支付、票券、會員、點數等相關設定，統一對帳規格，簡化不同服務串接的繁複程序。', N'fas fa-cloud', N'')
INSERT [dbo].[Services] ([Id], [IsEnabled], [SortNo], [HeaderName], [DetailName], [ImageUrl], [Remark]) VALUES (2, 1, N'02', N'雲端行動刷卡', N'結合多元支付及電子發票的簡易收銀，直覺操作最貼心，最懂中小商家的店經理。', N'fas fa-credit-card', N'')
INSERT [dbo].[Services] ([Id], [IsEnabled], [SortNo], [HeaderName], [DetailName], [ImageUrl], [Remark]) VALUES (3, 1, N'03', N'雲端智慧終端', N'結合收銀、點餐、多元支付、會員經營與櫃台行銷活動，提供多合一的物聯網應用，為您創造更佳的顧客互動方式。', N'fas fa-terminal', N'')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Shippings] ON 

INSERT [dbo].[Shippings] ([Id], [ShippingNo], [ShippingName], [Remark]) VALUES (1, N'Delivery', N'宅配到府', N'')
INSERT [dbo].[Shippings] ([Id], [ShippingNo], [ShippingName], [Remark]) VALUES (3, N'Store', N'店到店', N'')
INSERT [dbo].[Shippings] ([Id], [ShippingNo], [ShippingName], [Remark]) VALUES (2, N'Supermarket', N'超商取貨', N'')
SET IDENTITY_INSERT [dbo].[Shippings] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [SortNo], [TeamNo], [TeamName], [EngName], [GenderCode], [DeptName], [TitleName], [TwitterUrl], [FacebookUrl], [LinkedinUrl], [InstagramUrl], [SkypeUrl], [ContactEmail], [DetailText], [Remark]) VALUES (1, N'01', N'team01', N'麥肯齊‧鮑爾斯', N'MACKENZIE BOWERS', N'M', N'管理部', N'經理', N'#', N'#', N'#', N'#', N'#', N'mackenzie.bowers@gooduse.com.tw', N'', N'')
INSERT [dbo].[Teams] ([Id], [SortNo], [TeamNo], [TeamName], [EngName], [GenderCode], [DeptName], [TitleName], [TwitterUrl], [FacebookUrl], [LinkedinUrl], [InstagramUrl], [SkypeUrl], [ContactEmail], [DetailText], [Remark]) VALUES (2, N'02', N'team02', N'艾達‧希金斯', N'ADA HIGGINS', N'F', N'市場部', N'協理', N'#', N'#', N'#', N'#', N'#', N'ada.higgins@gooduse.com.tw', N'', N'')
INSERT [dbo].[Teams] ([Id], [SortNo], [TeamNo], [TeamName], [EngName], [GenderCode], [DeptName], [TitleName], [TwitterUrl], [FacebookUrl], [LinkedinUrl], [InstagramUrl], [SkypeUrl], [ContactEmail], [DetailText], [Remark]) VALUES (3, N'03', N'team03', N'理查德‧夏季', N'RICHARD SUMMERS', N'M', N'行銷部', N'副理', N'#', N'#', N'#', N'#', N'#', N'richard.summers@gooduse.com.tw', N'', N'')
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[Titles] ON 

INSERT [dbo].[Titles] ([Id], [TitleNo], [TitleName], [Remark]) VALUES (1, N'T001', N'董事長', N'')
INSERT [dbo].[Titles] ([Id], [TitleNo], [TitleName], [Remark]) VALUES (2, N'T002', N'副董事長', N'')
INSERT [dbo].[Titles] ([Id], [TitleNo], [TitleName], [Remark]) VALUES (3, N'T003', N'總經理', N'')
SET IDENTITY_INSERT [dbo].[Titles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [IsValid], [UserNo], [UserName], [Password], [CodeNo], [RoleNo], [GenderCode], [DeptNo], [TitleNo], [Birthday], [OnboardDate], [LeaveDate], [ContactEmail], [ContactTel], [ContactAddress], [ValidateCode], [NotifyPassword], [Remark]) VALUES (8, 1, N'JoeWang', N'王喬伊', N'12345', N'Normal', N'Customer', N'M', N'D006', N'T008', CAST(N'2000-01-01' AS Date), CAST(N'2000-01-01' AS Date), NULL, N'joewang@gmail.com', N'0912345678', N'台北市信義區信義路五段5號', N'', N'', N'')
INSERT [dbo].[Users] ([Id], [IsValid], [UserNo], [UserName], [Password], [CodeNo], [RoleNo], [GenderCode], [DeptNo], [TitleNo], [Birthday], [OnboardDate], [LeaveDate], [ContactEmail], [ContactTel], [ContactAddress], [ValidateCode], [NotifyPassword], [Remark]) VALUES (1, 1, N'M001', N'王大明', N'12345', N'Official', N'Mis', N'M', N'D003', N'T005', CAST(N'2000-01-01' AS Date), CAST(N'2000-01-01' AS Date), NULL, N'M001@gmail.com', N'0912345678', N'台北市信義區信義路五段5號', N'', N'', N'')
INSERT [dbo].[Users] ([Id], [IsValid], [UserNo], [UserName], [Password], [CodeNo], [RoleNo], [GenderCode], [DeptNo], [TitleNo], [Birthday], [OnboardDate], [LeaveDate], [ContactEmail], [ContactTel], [ContactAddress], [ValidateCode], [NotifyPassword], [Remark]) VALUES (7, 1, N'MikeLee', N'李麥克', N'12345', N'Meterial', N'Vendor', N'M', N'D004', N'T005', CAST(N'2000-01-01' AS Date), CAST(N'2000-01-01' AS Date), NULL, N'mikelee@gmail.com', N'0912345678', N'台北市信義區信義路五段5號', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [PK_AboutUs]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[AboutUs] ADD  CONSTRAINT [PK_AboutUs] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_AboutUsDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[AboutUsDetails] ADD  CONSTRAINT [PK_AboutUsDetails] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_AddressBooks]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[AddressBooks] ADD  CONSTRAINT [PK_AddressBooks] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Applications]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [PK_Applications] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Calendars]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Calendars] ADD  CONSTRAINT [PK_Calendars] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Carousels]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Carousels] ADD  CONSTRAINT [PK_Carousels] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Carts]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Carts] ADD  CONSTRAINT [PK_Carts] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Categorys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Categorys] ADD  CONSTRAINT [PK_Categorys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CityAreas]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[CityAreas] ADD  CONSTRAINT [PK_CityAreas] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Citys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Citys] ADD  CONSTRAINT [PK_Citys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Clients]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [PK_Clients] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CloseDates]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[CloseDates] ADD  CONSTRAINT [PK_CloseDates] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CodeBases]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[CodeBases] ADD  CONSTRAINT [PK_CodeBases] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CodeDatas]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[CodeDatas] ADD  CONSTRAINT [PK_CodeDatas] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Companys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Companys] ADD  CONSTRAINT [PK_Companys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Departments]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [PK_Departments] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Employees]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [PK_Employees] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ExtensionTables]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[ExtensionTables] ADD  CONSTRAINT [PK_ExtensionTables] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Featureds]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Featureds] ADD  CONSTRAINT [PK_Featureds] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_FormDetail]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[FormDetail] ADD  CONSTRAINT [PK_FormDetail] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_FormMaster]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[FormMaster] ADD  CONSTRAINT [PK_FormMaster] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ForumBoards]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[ForumBoards] ADD  CONSTRAINT [PK_ForumBoards] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Forums]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [PK_Forums] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Languages]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Languages] ADD  CONSTRAINT [PK_Languages] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Logs]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Logs] ADD  CONSTRAINT [PK_Logs] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_MapPositions]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[MapPositions] ADD  CONSTRAINT [PK_MapPositions] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Messages]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [PK_Messages] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Modules]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Modules] ADD  CONSTRAINT [PK_Modules] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_News]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [PK_News] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_NewsLetter]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[NewsLetter] ADD  CONSTRAINT [PK_NewsLetter] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Notifications]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [PK_Notifications] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_OrderDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [PK_OrderDetails] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Orders]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [PK_Orders] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_OrdersStatus]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[OrdersStatus] ADD  CONSTRAINT [PK_OrdersStatus] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Payments]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [PK_Payments] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Photos]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Photos] ADD  CONSTRAINT [PK_Photos] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PricingDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[PricingDetails] ADD  CONSTRAINT [PK_PricingDetails] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Pricings]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Pricings] ADD  CONSTRAINT [PK_Pricings] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ProductFeatureds]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[ProductFeatureds] ADD  CONSTRAINT [PK_ProductFeatureds] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ProductInventorys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[ProductInventorys] ADD  CONSTRAINT [PK_ProductInventorys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ProductPropertys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[ProductPropertys] ADD  CONSTRAINT [PK_ProductPropertys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ProductRelations]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[ProductRelations] ADD  CONSTRAINT [PK_ProductRelations] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Products]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [PK_Products] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Programs]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [PK_Programs] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Promotions]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [PK_Promotions] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PropertyNames]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[PropertyNames] ADD  CONSTRAINT [PK_PropertyNames] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Propertys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Propertys] ADD  CONSTRAINT [PK_Propertys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Roles]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [PK_Roles] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Securitys]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [PK_Securitys] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Services]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [PK_Services] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Shippings]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Shippings] ADD  CONSTRAINT [PK_Shippings] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Teams]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [PK_Teams] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Titles]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Titles] ADD  CONSTRAINT [PK_Titles] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_TodoLists]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[TodoLists] ADD  CONSTRAINT [PK_TodoLists] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Users]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_Users] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_Vacations]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[Vacations] ADD  CONSTRAINT [PK_Vacations] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_WorkflowDetails]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[WorkflowDetails] ADD  CONSTRAINT [PK_WorkflowDetails] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_WorkflowMasters]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[WorkflowMasters] ADD  CONSTRAINT [PK_WorkflowMasters] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_WorkflowRoles]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[WorkflowRoles] ADD  CONSTRAINT [PK_WorkflowRoles] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_RoleUsers]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[WorkflowRoleUsers] ADD  CONSTRAINT [PK_RoleUsers] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_WorkflowRoutes]    Script Date: 2023/6/22 下午 07:16:32 ******/
ALTER TABLE [dbo].[WorkflowRoutes] ADD  CONSTRAINT [PK_WorkflowRoutes] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_IsDebug]  DEFAULT ((1)) FOR [IsDebug]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_EncryptionMode]  DEFAULT ((0)) FOR [EncryptionMode]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_MailHostPort]  DEFAULT ((587)) FOR [MailHostPort]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_MailUseSSL]  DEFAULT ((1)) FOR [MailUseSSL]
GO
ALTER TABLE [dbo].[Calendars] ADD  CONSTRAINT [DF_Calendars_TargetCode]  DEFAULT ('User') FOR [TargetCode]
GO
ALTER TABLE [dbo].[Calendars] ADD  CONSTRAINT [DF_Calendars_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Calendars] ADD  CONSTRAINT [DF_Calendars_EndDate]  DEFAULT (getdate()) FOR [EndDate]
GO
ALTER TABLE [dbo].[Calendars] ADD  CONSTRAINT [DF_Calendars_IsFullday]  DEFAULT ((0)) FOR [IsFullday]
GO
ALTER TABLE [dbo].[Carousels] ADD  CONSTRAINT [DF_Carousels_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categorys] ADD  CONSTRAINT [DF_Categorys_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Categorys] ADD  CONSTRAINT [DF_Categorys_IsCategory]  DEFAULT ((0)) FOR [IsCategory]
GO
ALTER TABLE [dbo].[CityAreas] ADD  CONSTRAINT [DF_CityAreas_Latitude]  DEFAULT ((0)) FOR [Latitude]
GO
ALTER TABLE [dbo].[CityAreas] ADD  CONSTRAINT [DF_CityAreas_Longitude]  DEFAULT ((0)) FOR [Longitude]
GO
ALTER TABLE [dbo].[Citys] ADD  CONSTRAINT [DF_Citys_Latitude]  DEFAULT ((0)) FOR [Latitude]
GO
ALTER TABLE [dbo].[Citys] ADD  CONSTRAINT [DF_Citys_Longitude]  DEFAULT ((0)) FOR [Longitude]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[CodeBases] ADD  CONSTRAINT [DF_CodeBases_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[CodeDatas] ADD  CONSTRAINT [DF_CodeDatas_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[CodeDatas] ADD  CONSTRAINT [DF_CodeDatas_SortNo]  DEFAULT (space((0))) FOR [SortNo]
GO
ALTER TABLE [dbo].[Companys] ADD  CONSTRAINT [DF_Companys_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Companys] ADD  CONSTRAINT [DF_Companys_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Featureds] ADD  CONSTRAINT [DF_Featureds_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[FormDetail] ADD  CONSTRAINT [DF_FormDetail_Qty1]  DEFAULT ((0)) FOR [Qty1]
GO
ALTER TABLE [dbo].[FormDetail] ADD  CONSTRAINT [DF_FormDetail_Qty2]  DEFAULT ((0)) FOR [Qty2]
GO
ALTER TABLE [dbo].[FormMaster] ADD  CONSTRAINT [DF_FormMaster_FormDate]  DEFAULT (getdate()) FOR [FormDate]
GO
ALTER TABLE [dbo].[FormMaster] ADD  CONSTRAINT [DF_FormMaster_FormTime]  DEFAULT (getdate()) FOR [FormTime]
GO
ALTER TABLE [dbo].[FormMaster] ADD  CONSTRAINT [DF_FormMaster_Qty1]  DEFAULT ((0)) FOR [Qty1]
GO
ALTER TABLE [dbo].[FormMaster] ADD  CONSTRAINT [DF_FormMaster_Qty2]  DEFAULT ((0)) FOR [Qty2]
GO
ALTER TABLE [dbo].[ForumBoards] ADD  CONSTRAINT [DF_ForumBoards_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[ForumBoards] ADD  CONSTRAINT [DF_ForumBoards_GuidNo]  DEFAULT (newid()) FOR [GuidNo]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF_Forums_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF_Forums_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF_Forums_GuidNo]  DEFAULT (newid()) FOR [GuidNo]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Modules] ADD  CONSTRAINT [DF_Modules_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Modules] ADD  CONSTRAINT [DF_Modules_IsWorkflow]  DEFAULT ((0)) FOR [IsWorkflow]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_order_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_order_IsValid]  DEFAULT ((0)) FOR [IsValid]
GO
ALTER TABLE [dbo].[OrdersStatus] ADD  CONSTRAINT [DF_OrdersStatus_IsPayed]  DEFAULT ((0)) FOR [IsPayed]
GO
ALTER TABLE [dbo].[OrdersStatus] ADD  CONSTRAINT [DF_OrdersStatus_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Photos] ADD  CONSTRAINT [DF_Photos_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[PricingDetails] ADD  CONSTRAINT [DF_PricingDetails_IsSupport]  DEFAULT ((0)) FOR [IsSupport]
GO
ALTER TABLE [dbo].[Pricings] ADD  CONSTRAINT [DF_Pricings_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Pricings] ADD  CONSTRAINT [DF_Pricings_IsAdvanced]  DEFAULT ((0)) FOR [IsAdvanced]
GO
ALTER TABLE [dbo].[Pricings] ADD  CONSTRAINT [DF_Pricings_IsRecommend]  DEFAULT ((0)) FOR [IsRecommend]
GO
ALTER TABLE [dbo].[ProductInventorys] ADD  CONSTRAINT [DF_ProductInventorys_IsInventory]  DEFAULT ((0)) FOR [IsInventory]
GO
ALTER TABLE [dbo].[ProductInventorys] ADD  CONSTRAINT [DF_ProductInventorys_InventoryQty]  DEFAULT ((0)) FOR [InventoryQty]
GO
ALTER TABLE [dbo].[ProductPropertys] ADD  CONSTRAINT [DF_ProductPropertys_IsSelect]  DEFAULT ((1)) FOR [IsSelect]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Inventory]  DEFAULT ((0)) FOR [IsInventory]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsShowPhoto]  DEFAULT ((0)) FOR [IsShowPhoto]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CostPrice]  DEFAULT ((0)) FOR [CostPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_MarketPrice]  DEFAULT ((0)) FOR [MarketPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_SalePrice]  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_DiscountPrice]  DEFAULT ((0)) FOR [DiscountPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_InventoryQty]  DEFAULT ((0)) FOR [InventoryQty]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsPageSize]  DEFAULT ((1)) FOR [IsPageSize]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsSearch]  DEFAULT ((1)) FOR [IsSearch]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_PageSize]  DEFAULT ((10)) FOR [PageSize]
GO
ALTER TABLE [dbo].[Propertys] ADD  CONSTRAINT [DF_Propertys_IsSelect]  DEFAULT ((1)) FOR [IsSelect]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsAdd]  DEFAULT ((1)) FOR [IsAdd]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsEdit]  DEFAULT ((1)) FOR [IsEdit]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsDelete]  DEFAULT ((1)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsConfirm]  DEFAULT ((1)) FOR [IsConfirm]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsUndo]  DEFAULT ((1)) FOR [IsUndo]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsInvalid]  DEFAULT ((1)) FOR [IsInvalid]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsUpload]  DEFAULT ((1)) FOR [IsUpload]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsDownload]  DEFAULT ((1)) FOR [IsDownload]
GO
ALTER TABLE [dbo].[Securitys] ADD  CONSTRAINT [DF_Securitys_IsPrint]  DEFAULT ((1)) FOR [IsPrint]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[TodoLists] ADD  CONSTRAINT [DF_TodoLists_IsFinished]  DEFAULT ((0)) FOR [IsFinished]
GO
ALTER TABLE [dbo].[WorkflowDetails] ADD  CONSTRAINT [DF_WorkflowDetails_IsClose]  DEFAULT ((0)) FOR [IsClose]
GO
ALTER TABLE [dbo].[WorkflowDetails] ADD  CONSTRAINT [DF_WorkflowDetails_IsApprove]  DEFAULT ((0)) FOR [IsApprove]
GO
ALTER TABLE [dbo].[WorkflowDetails] ADD  CONSTRAINT [DF_WorkflowDetails_IsReject]  DEFAULT ((0)) FOR [IsReject]
GO
ALTER TABLE [dbo].[WorkflowDetails] ADD  CONSTRAINT [DF_WorkflowDetails_GuidNo]  DEFAULT (newid()) FOR [GuidNo]
GO
ALTER TABLE [dbo].[WorkflowMasters] ADD  CONSTRAINT [DF_WorkflowMasters_IsApprove]  DEFAULT ((0)) FOR [IsApprove]
GO
ALTER TABLE [dbo].[WorkflowMasters] ADD  CONSTRAINT [DF_WorkflowMasters_IsReject]  DEFAULT ((0)) FOR [IsReject]
GO
ALTER TABLE [dbo].[WorkflowMasters] ADD  CONSTRAINT [DF_WorkflowMasters_GuidNo]  DEFAULT (newid()) FOR [GuidNo]
GO
ALTER TABLE [dbo].[WorkflowRoleUsers] ADD  CONSTRAINT [DF_WorkflowRoleUsers_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
