USE [ORANGE1]
GO
/****** Object:  View [dbo].[vi_CodeProgram]    Script Date: 2023/6/22 上午 11:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vi_CodeProgram]
AS
SELECT Id, IsEnabled, BaseNo, ParentNo, SortNo, CodeNo, CodeName, CodeValue, Remark
FROM dbo.CodeDatas
WHERE (BaseNo = N'Program')
GO
