USE [ORANGE1]
GO
/****** Object:  Table [dbo].[iepb00h]    Script Date: 2023/6/22 下午 09:40:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iepb00h](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[od_id] [nvarchar](3) NOT NULL,
	[od_name] [nvarchar](20) NOT NULL,
	[od_name1] [nvarchar](8) NOT NULL,
	[od_rate] [decimal](24, 8) NOT NULL,
	[od_rate1] [decimal](24, 8) NOT NULL,
	[od_rate2] [decimal](24, 8) NOT NULL,
	[od_rate3] [decimal](24, 8) NOT NULL,
	[od_ymd] [nvarchar](10) NOT NULL,
	[ie_def] [nvarchar](1) NOT NULL,
	[ie_ymd] [nvarchar](10) NOT NULL,
	[ie_time] [nvarchar](11) NOT NULL,
	[ie_user] [nvarchar](20) NOT NULL,
	[ie_lymd] [nvarchar](10) NOT NULL,
	[ie_ltime] [nvarchar](11) NOT NULL,
	[ie_luser] [nvarchar](20) NOT NULL,
	[ie_cymd] [nvarchar](10) NOT NULL,
	[ie_ctime] [nvarchar](11) NOT NULL,
	[ie_cuser] [nvarchar](20) NOT NULL,
	[ie_cancel] [nvarchar](1) NOT NULL,
	[od_cu] [nvarchar](4) NOT NULL,
	[od_id1] [nvarchar](3) NOT NULL,
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[iepb00h] ON 

INSERT [dbo].[iepb00h] ([Id], [od_id], [od_name], [od_name1], [od_rate], [od_rate1], [od_rate2], [od_rate3], [od_ymd], [ie_def], [ie_ymd], [ie_time], [ie_user], [ie_lymd], [ie_ltime], [ie_luser], [ie_cymd], [ie_ctime], [ie_cuser], [ie_cancel], [od_cu], [od_id1]) VALUES (1, N'ATS', N'奧先令', N'AUSTRIAN', CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), N'19990228', N'', N'', N'', N'', N'2004/07/17', N'18:01:23', N'IEMIS', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[iepb00h] ([Id], [od_id], [od_name], [od_name1], [od_rate], [od_rate1], [od_rate2], [od_rate3], [od_ymd], [ie_def], [ie_ymd], [ie_time], [ie_user], [ie_lymd], [ie_ltime], [ie_luser], [ie_cymd], [ie_ctime], [ie_cuser], [ie_cancel], [od_cu], [od_id1]) VALUES (2, N'AUD', N'澳元    ', N'AUSTRALL', CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), N'19990228', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[iepb00h] ([Id], [od_id], [od_name], [od_name1], [od_rate], [od_rate1], [od_rate2], [od_rate3], [od_ymd], [ie_def], [ie_ymd], [ie_time], [ie_user], [ie_lymd], [ie_ltime], [ie_luser], [ie_cymd], [ie_ctime], [ie_cuser], [ie_cancel], [od_cu], [od_id1]) VALUES (3, N'BEF', N'比利時  ', N'BELGIAN ', CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), CAST(1.00000000 AS Decimal(24, 8)), N'19990228', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[iepb00h] OFF
GO
/****** Object:  Index [pk_iepb00h]    Script Date: 2023/6/22 下午 09:40:43 ******/
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [pk_iepb00h] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hod_id]  DEFAULT ('') FOR [od_id]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_name]  DEFAULT ('') FOR [od_name]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_name1]  DEFAULT ('') FOR [od_name1]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_rate]  DEFAULT ((0)) FOR [od_rate]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_rate1]  DEFAULT ((0)) FOR [od_rate1]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_rate2]  DEFAULT ((0)) FOR [od_rate2]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_rate3]  DEFAULT ((0)) FOR [od_rate3]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hod_ymd]  DEFAULT ('') FOR [od_ymd]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_def]  DEFAULT ('') FOR [ie_def]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_ymd]  DEFAULT ('') FOR [ie_ymd]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_time]  DEFAULT ('') FOR [ie_time]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_user]  DEFAULT ('') FOR [ie_user]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_lymd]  DEFAULT ('') FOR [ie_lymd]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_ltime]  DEFAULT ('') FOR [ie_ltime]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [Diepb00hie_luser]  DEFAULT ('') FOR [ie_luser]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [diepb00hie_cymd]  DEFAULT ('') FOR [ie_cymd]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [diepb00hie_ctime]  DEFAULT ('') FOR [ie_ctime]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [diepb00hie_cuser]  DEFAULT ('') FOR [ie_cuser]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [diepb00hie_cancel]  DEFAULT ('') FOR [ie_cancel]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_cu]  DEFAULT ('') FOR [od_cu]
GO
ALTER TABLE [dbo].[iepb00h] ADD  CONSTRAINT [DF_iepb00hod_id1]  DEFAULT ('') FOR [od_id1]
GO
