USE [ORANGE1]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 2023/6/19 下午 02:29:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsPageSize] [bit] NOT NULL,
	[IsSearch] [bit] NOT NULL,
	[RoleNo] [nvarchar](50) NULL,
	[ModuleNo] [nvarchar](50) NULL,
	[SortNo] [nvarchar](50) NULL,
	[PrgNo] [nvarchar](50) NULL,
	[PrgName] [nvarchar](50) NULL,
	[CodeNo] [nvarchar](50) NULL,
	[AreaName] [nvarchar](50) NULL,
	[ControllerName] [nvarchar](50) NULL,
	[ActionName] [nvarchar](50) NULL,
	[ParmValue] [nvarchar](50) NULL,
	[PageSize] [int] NOT NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Programs] ON 

INSERT [dbo].[Programs] ([Id], [IsEnabled], [IsPageSize], [IsSearch], [RoleNo], [ModuleNo], [SortNo], [PrgNo], [PrgName], [CodeNo], [AreaName], [ControllerName], [ActionName], [ParmValue], [PageSize], [Remark]) VALUES (1, 1, 1, 1, N'Mis', N'MBAS', N'01', N'MBASP001', N'角色基本資料維護', N'P', N'Mis', N'MBASP001_Role', N'Index', N'', 10, N'')
INSERT [dbo].[Programs] ([Id], [IsEnabled], [IsPageSize], [IsSearch], [RoleNo], [ModuleNo], [SortNo], [PrgNo], [PrgName], [CodeNo], [AreaName], [ControllerName], [ActionName], [ParmValue], [PageSize], [Remark]) VALUES (2, 1, 1, 1, N'Mis', N'MBAS', N'02', N'MBASP002', N'程式類別資料維護', N'P', N'Mis', N'MBASP002_ProgramType', N'Index', N'', 10, N'')
INSERT [dbo].[Programs] ([Id], [IsEnabled], [IsPageSize], [IsSearch], [RoleNo], [ModuleNo], [SortNo], [PrgNo], [PrgName], [CodeNo], [AreaName], [ControllerName], [ActionName], [ParmValue], [PageSize], [Remark]) VALUES (3, 1, 1, 1, N'Mis', N'MBAS', N'03', N'MBASP003', N'語言基本資料維護', N'P', N'Mis', N'MBASP003_Language', N'Index', N'', 10, N'')
SET IDENTITY_INSERT [dbo].[Programs] OFF
GO
/****** Object:  Index [PK_Programs]    Script Date: 2023/6/19 下午 02:29:37 ******/
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [PK_Programs] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsPageSize]  DEFAULT ((1)) FOR [IsPageSize]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsSearch]  DEFAULT ((1)) FOR [IsSearch]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_PageSize]  DEFAULT ((10)) FOR [PageSize]
GO
